# dependencies
node_modules/
eas.json

# expo
.expo/
.expo-shared/
dist/
web-build/
build/
expo-env.d.ts
android/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
